
$panel-border-width: 0 !default;
$panel-header-color: #fff !default;
$panel-frame-background-color: #196CE8 !default;

$panel-body-border-width: 0 !default;
$panel-body-background-color: #196CE8 !default;

$panel-tool-spacing: 66px !default;