$btn-group-background-color: #f0f0f0 !default;
/*$btn-group-header-background-color: #dfdfdf !default*/
$btn-group-header-background-color: #196CE8 !default;

$btn-group-border-color: #d0d0d0 !default;

/*$btn-group-header-color: #666 !default;*/

$btn-group-header-color: #fff !default;

$btn-group-inner-border-color: #ececec !default;

$btn-group-border-radius: 0 !default;
$btn-group-framed-border-radius: 0px !default;