$splitter-size: 2px !default;
$splitter-background-color: #000 !default;
$splitter-active-background-color: #000 !default;
$splitter-active-opacity: .8 !default;
$splitter-active-collapse-tool-opacity: .3 !default;

$collapse-tool-cursor: pointer !default;
$collapse-tool-size: 35px !default;
