
$window-header-background-color: #196CE8 !default;

$window-background-color: #196CE8 !default;
$window-header-color: #fff !default;

/*$window-base-color: $base-highlight-color !default;*/
$window-body-border-width: 0 !default;

$window-border-radius: 0 !default;
$window-border-width: 0 !default; /*$panel-frame-border-width*/
$window-header-border-width: $window-border-width !default;
$window-include-border-management-rules: true !default;

$window-force-header-border: true !default;
$window-wrap-border-width: 0px !default;

$window-body-background-color: #196CE8 !default;